/* css styles */

body {
  color: white;
  background:linear-gradient(rgba(0,0,0,0.58), rgba(0,0,0,0.58)),
    url("images/fro_lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}

blockquote {
    background-color: rgba(242,244,255,1);
    border-radius: 10px;
    border: none;
}

blockquote::before {
    position: absolute;
    color: rgba(228,236,247,1);
    font-size: 139px;
    z-index: 1;
    line-height: 1;
}

blockquote p {
    position: relative;
    z-index: 2;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: white !important;
    font-weight: bold;
}